body,
html {
  background: $background;
  scrollbar-gutter: stable;
}

* {
  color: $text-primary;
  scroll-margin-top: 20px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding: 42px 20px 124px;

  @include respond-to-max('sm') {
    padding-right: 15px;
    padding-left: 15px;
  }
}

*:focus-visible {
  outline: 2px $primary solid !important;
  outline-offset: 2px !important;
}
