$primary: #FFD700; // Gold color for primary elements
$primary-hover: #d9b900; // Gold color for primary elements
$background: #F3F5F8; // Light grey color for background
$card-background: #FFFFFF; // White color for card backgrounds
$text-primary: #06162E; // Dark blue color for primary text
$text-secondary: #4D596A; // Light grey color for secondary text
$text-third: #B4B9C0; // Light grey color for secondary text
$accent-green: #36A420; // Green color for accents


$radius-small: 8px; // Small border radius
$radius-medium: 12px; // Medium border radius
