$primary: #F3D147; // Gold color for primary elements
$primary-hover: #FFD700; // Gold color for primary elements
$background: #F3F5F8; // Light grey color for background
$card-background: #FFFFFF; // White color for card backgrounds
$text-primary: #06162E; // Dark blue color for primary text
$text-secondary: #374458; // Dark blue color for primary text
$text-third: #4D596A; // Light grey color for secondary text
$text-fourth: #B4B9C0; // Light grey color for secondary text
$text-fifth: #EAE7E7; // Light grey color for secondary text
$text-placeholder: #A8ADB6; // Light grey color for placeholder text
$accent-green: #36A420; // Green color for accents

$radius-small: 8px; // Small border radius
$radius-medium: 12px; // Medium border radius
